/* General styling */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    /* background-color: rgb(255, 247, 236); */
    background-color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

/* paragraph styling */
p {
    color: rgb(85, 85, 85);
}

/* transition for links and button*/

a, 
.btn {
    transition: all 300ms ease;
}

/* desktop-nav */

nav, 
.nav-links {
    display: flex;
}

nav {
    align-items: center;
    justify-content: space-around;
    height: 17vh;
    border-bottom: solid 0.15rem;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    /* removes default underline */
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(88, 147, 255);
    text-decoration: underline;
    text-underline-offset: 0.9rem;
    text-decoration-color: rgb(88, 147, 255);
}

.name {
    font-size: 2rem;
}

.name:hover {
    cursor: default;
}

/* Mobile menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:nth-child(2) {
    opacity: none;
}

.hamburger-icon span:last-child {
    transform: none;
}

/* Section styling */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container, #profile {
    display: flex;
}

/* Profile section */

#profile {
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1.3rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: rgb(67, 130, 248);
    margin-bottom: 0.85rem;
}

.section-title {
    margin-bottom: 2rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.profile-pic {
    border-radius: 2rem;
    height: 410px;
}

/* Icons */

.icon {
    cursor: pointer;
    height: 4.4rem; 
}

.linkedin-icon {
    cursor: pointer;
    height: 4.4rem; 
}

.icon_about {
    height: 3.5rem;
}

/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    font-size: 1rem;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: white;
    color: rgb(0, 0, 0)
}

.btn-color-2 {
    background: white;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-color-1:hover {
    border: rgb(0, 0, 0) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* About section */

#about {
    position: relative;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    /* margin-top: 2rem; */
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-container,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.skills-list {
    text-align: left;
    margin-left: 15px;
    color: rgb(85, 85, 85);
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.about-me {
    color: black;
    margin: 1em 0;
}


/* Experience section */

#experience {
    position: relative;
}

.experience-sub-title {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.project-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

.experience-role {
    margin-top: -25px;
    color:rgb(35, 35, 35);
    margin-bottom: 20px;
    font-weight: 400;
}

.experience-dates {
    margin-top: -15px;
    font-weight: 300;
}

.experience-icon {
    margin-top: 20px;
    width: 180px;
    height: auto;
}

.experience-description {
    color: rgb(10, 10, 10);
    font-weight: 349;
    margin-top: -25px;
}

/* Projects section */

#projects {
    position: relative;
}

.color-container {
    margin-top: -1rem;
    border-color: rgb(163, 163, 163);
    background: white;
}

.project-img {
    border-radius: 2rem;
    width: 50%;
    height: 50%;
}

.project-img-2 {
    border-radius: 2rem;
    width: 80%;
    height: 80%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

.project-description {
    font-weight: 349;
    margin-top: 10px;
    text-align: left;
    margin-left: 15px;
    color: rgb(10, 10, 10);
}

.project-description li {
    padding: 5px 0;
}

/* Contact */

#contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-bottom: 30px;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
    background-color: white;
}


.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: pointer;
    height: 5.5rem;
}

.linkedin-contact-link {
    cursor: pointer;
}

/* Footer section */

footer {
    height: 26vh;
    margin: 0 1rem;
    margin-bottom: -740px;
}

footer p {
    text-align: center;
    margin-top: 1rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.nav-footer {
    align-items: center;
    justify-content: space-around;
    height: 17vh;
    border-bottom: solid 0.15rem;
}













